<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      RECYCLE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card class="welcome-card">
  <ion-card-header>
  <img src="/assets/recycle.png" alt=""/>
    <div class="ion-text-center">
    <ion-card-title></ion-card-title>
    <ion-card-subtitle><i>" Care for your clothes, like the good friends they are "</i></ion-card-subtitle>
  </div></ion-card-header>
</ion-card> 
  
  <div class="ion-text-center">
  <ion-label>Let's locate :</ion-label></div>
  <ion-button (click)="locateBin()" routerLink ="/recyclingbin" routerDirection="forward" expand="block" color="secondary">Recycling Bin</ion-button>
  <ion-button (click)="locateCentre()" routerLink ="/recyclingcentre" routerDirection="forward" expand="block" color="secondary">Recycling Centre</ion-button>

</ion-content>
