<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    
    <ion-card-header>
      <div class="ion-text-center">
      <ion-card-title>Welcome </ion-card-title></div>
      <img src="/assets/logoCDW.png" alt=""/>
      <ion-card-subtitle><i>Let's do amazing things for the environment and yourself with Clear De Wahina</i></ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <section class="full-width">
    <ion-button (click)="openDonatePage()" routerLink ="/DONATE" routerDirection="forward" expand="block" color="secondary">DONATE</ion-button>
    <ion-button (click)="openDisposePage()" routerLink ="/DISPOSE" routerDirection="forward" expand="block" color="secondary">DISPOSE</ion-button>
    <ion-button (click)="openRecyclePage()" routerLink ="/RECYCLE" routerDirection="forward"expand="block" color="secondary">RECYCLE</ion-button>
  </section>
</ion-content>
